@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

:root {
    --main-color: #ae00ff;
    --bg-color: #fff;
    --text-color: #2B2B2B;
    --hover: #2b2b2b;

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.active {
    --text-color: #fff;
    --bg-color: #2B2B2B;
}

section {
    padding: 50px 10%;
}

*::selection {
    color: var(--bg-color);
    background: var(--main-color);
}


/*********************** NAV BAR ******************/

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #FFFFFF73,
        2px 2px 5px rgba(94, 104, 121, 0.288)
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 34px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#darkmode {
    font-size: 24px;
    cursor: pointer;
}



/***************** Home section ******************/

.home {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding-top: 150px;
}

.home-text {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.home-img {
    order: 3;
    width: 100%;

}

.home-text span {
    font-size: var(--medium-font);
    font-weight: 500;
    margin-left: -225px;
}

.home-text h1 {
    font-size: var(--big-font);
}

.home-text h2 {
    font-size: 1.1rem;
    font-weight: 400;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}

.social {
    display: flex;
    flex-direction: column;
}

.social a {
    margin-bottom: 1rem;
    font-size: 32px;
    color: var(--main-color);
}

.social a:hover {
    color: var(--hover);
}

.btn {
    border: 3px solid var(--main-color);
    width: 175px;
    color: var(--text-color);
    padding: 0.7rem 1.3rem;
    border-radius: 25px;
    box-shadow: 0px 2px 2px var(--main-color);
    transition: ease .30s;
    cursor: pointer;
}

.btn:hover {
    background-color: #2B2B2B;
    color: var(--bg-color);

}

/**************** ABOUT SECTION ******************/

.heading {
    text-align: center;
    padding-top: 50px;
}

.heading h2 {
    font-size: 30px;
}

.heading span {
    font-size: var(--p-font);
    color: var(--main-color);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-img img {
    width: 60%;
    border-radius: 0.5rem;
}

.about-container .btn-cv {
    padding-top: 25px;
}

.about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
}

.information {
    margin: 2rem 0 2.8rem;
}

.information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.information .info-box .bx {
    font-size: 32px;
}

.information .info-box span {
    font-weight: 400;
    margin-left: 1.5rem;
}


/******************** Section portifolio ***************/


.portifolio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    overflow: hidden;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.container .card {
    position: relative;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(120px);
}

.container .card:hover .face.face1 {
    background-color: var(--bg-color);
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 0.9;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}



.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
    font-size: 1.5em;
}

.container .card:hover .face.face1 .content h3 {
    color: var(--text-color);
}



.container .card .face.face2 {
    position: relative;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: var(--text-color);
    transform: translateY(-80px);
    border-radius: 0px 0px 20px 20px;

}

.container .card:hover .face.face2 {
    transform: translateY(0);

}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--main-color);
}

.container .card .face.face2 .content a:hover {
    background-color: #ae00ff;
    color: #fff;
}



.content img {
    width: 150px;
    height: 150px;

}

footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: white;
    background: #7200be;
    width: 100%;
}

footer a {
    color: black;
}

/******************* Responsive ******************************/

@media(max-width: 1050px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

}

@media (max-width: 768px) {
    :root {
        --big-font: 2.4rem;
        --medium-font: 1.2rem
    }

    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
        color: var(--text-color);
    }

    .navbar {
        display: flex;
        gap: 35px;
        padding-top: 15px;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }

    .navbar.active {
        top: 100%;
    }

    #darkmode {
        position: absolute;
        top: 1.7rem;
        right: 2rem;
    }

    .home {
        grid-template-columns: 0.5fr 3fr;
    }

    .home-img {
        opacity: 0;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .container {
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}